body {
    margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;

}

.header{
    height: 100px;
    background-color: green;
    display: flex;
}

.body-container {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.header .savebtn {
    margin-left: auto;
}
.savenotes-container {
    width: 200px;
}
.Notes-container{
    background-color: red;
    flex-grow: 1;
}
.Notes-container #recentnote {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    height: 500px;

}

.text {
 height: 100%;
 width: 100%;
    flex-grow: 1;
   
}
.titlet {
    height: 50px;
}

.header .title {
    font-size: 40px;
    font-weight: bold;
    
}